/Java Application/ErleteManagement/nbproject/private/
/Java Application/ErleteManagement/build/
/Java Application/ErleteManagement/dist/
/Java Application/JavaApplication7/nbproject/private/
/Java Application/JavaApplication7/build/
/Java Application/JavaApplication7/dist/
/Java Application/mavenproject1/target/
