body {
    font-family: "Arial";
}
 
div#calendar {
    margin: 0vw auto;
    padding: 0vw;
    width: 61vw;
}
 
div#calendar div.box {
    position: relative;
    top: 0vw;
    left: 0px0vw;
    width: 100%;
    height: 4vw;
    background-color: #4a7995;
}
 
div#calendar div.header {
    line-height: 4vw;
    vertical-align: middle;
    position: absolute;
    left: 1.1vw;
    top: 0vw;
    width: 59vw;
    height: 4vw;
    text-align: center;
}
 
div#calendar div.header a.prev, div#calendar div.header a.next {
    position: absolute;
    top: 0vw;
    height: 1.7vw;
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: #FFF;
}
 
div#calendar div.header span.title {
    color: #FFF;
    font-size: 1.8vw;
}
 
div#calendar div.header a.prev {
    left: 0vw;
}
 
div#calendar div.header a.next {
    right: 0vw;
}
 
/*******************************Calendar Content Cells*********************************/
div#calendar div.box-content {
    border: 0.1vw solid #4a7995;
    border-top: none;
}
 
div#calendar ul.label {
    float: left;
    margin: 0vw;
    padding: 0vw;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
}
 
div#calendar ul.label li {
    margin: 0vw;
    padding: 0vw;
    margin-right: 0.5vw;
    float: left;
    list-style-type: none;
    width: 8vw;
    height: 4vw;
    line-height: 4vw;
    vertical-align: middle;
    text-align: center;
    color: #000;
    font-size: 1.5vw;
    background-color: transparent;
}
 
div#calendar ul.dates {
    float: left;
    margin: 0vw;
    padding: 0vw;
    margin-left:  0.5vw;
    margin-bottom:  0.5vw;
}
 
/** overall width = width+padding-right**/
div#calendar ul.dates li {
    margin: 0vw;
    padding: 0vw;
    margin-right:  0.5vw;
    margin-top:  0.5vw;
    line-height: 8vw;
    vertical-align: middle;
    float: left;
    list-style-type: none;
    width: 8vw;
    height: 8vw;
    font-size: 2.5vw;
    background-color: #FFF;
    color: #000;
    text-align: center;
    position: relative;
}
 
:focus {
    outline: none;
}
 
div.clear {
    clear: both;
}
 
li div {
    display: flex;
}
 
li div form {
    display: inline;
    align-self: center;
    margin: 0;
    position: absolute;
    bottom: 0.2vw;
}
 
div.open {
    background: #67bd64;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

div.booked {
    background: rgba(230, 119, 85, 0.911);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    line-height: inherit;
}